.no-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #373d3f;
}
.border, .border-bottom, .border-left, .border-right {
    border-color: #343434 !important;
}
.btn.btn-primary {
    background: blueviolet !important;
    border: #b465fa;
}

.btn.btn-outline-primary {
    color: blueviolet !important;
    border-color: blueviolet;
}

.btn.btn-outline-primary:hover {
    background: blueviolet !important;
    color: #ffffff !important;
}
.btn.btn-outline-secondary {
    border-color: rgb(118, 118, 118) !important;
    color: rgb(118, 118, 118)  !important;
}
.btn.btn-outline-secondary:hover {
    color: #ffffff !important;
    background: rgb(118, 118, 118) !important;
}

