.avatar {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100% !important;
    height: 100% !important;
}

.avatar--user-info-ribbon {
    width: 200px !important;
    height: 200px !important;
}

.avatar--chat-message {
    width: 50px !important;
    height: 50px !important;
}

@media (max-width: 480px) {
    .avatar--user-info-ribbon {
        width: 50px !important;
        height: 50px !important;
    }

}

@media (max-width: 600px) {
    .avatar--user-info-ribbon {
        width: 100px !important;
        height: 100px !important;
    }
    .user-ribbon--change-avatar-btn{
        width: 30px !important;
        height: 36px !important;
        font-size: 10px !important;
    }
    .user-ribbon--edit-current{
        width: 30px !important;
        height: 36px !important;
        left: 20px;
        font-size: 10px !important;
    }

}
