.avatar {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100% !important;
    height: 100% !important;
}

.avatar--user-info-ribbon {
    width: 200px !important;
    height: 200px !important;
}

.avatar--chat-message {
    width: 100px !important;
    height: 100px !important;
}

@media (max-width: 480px) {
    .avatar--user-info-ribbon {
        width: 150px !important;
        height: 150px !important;
    }
}
