.chat-component{
    display: flex;
    gap: 20px;
    z-index: 1;
    background: #212529;
}
.chat-component:hover{
    background: #282c34;
    cursor: pointer;
}
.chat-component > .chats-avatar {
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-component > .chat-info{
    flex: 1;
}
.chat-component-header{
    display: flex;
    gap: 10px;
    align-items: center;
}
.chat-component-header > small{
   font-size: 12px;
}
