.chat-message {
    display: inline-block;
    padding: 15px;
    margin-bottom: 7px;
    border-radius: 10px;
    background: #282c34;
    max-width: 75%;
}
.chat-message > .body {
    display: flex;
    gap: 10px
}

.chat-message > .body > .avatar {
    width: 50px !important;
}
.chat-message.clickable:hover{
    filter: brightness(120%) !important;
    cursor: pointer;
}
.chat-message > .body > .text{
    flex: 1;
}

.chat-message.from-me{
    background: rgba(180, 101, 250, 0.28) !important;
    border-color: rgba(180, 101, 250, 0.35) !important;
    float: right;
}
.chat-message.non-loaded{
    filter: brightness(50%) !important;
}

.text-header{
    display: flex;
    align-items:baseline;
    gap: 10px;
    margin-bottom: 5px;
}

.text-header > a, h5{
    margin: 0 !important;
}
.text-header > .id {
    font-size: 11px;
    margin: 0 !important;
}
.text{
    overflow-wrap: break-word;
    max-width: 100%;
}
small.read-date{
    font-size: 10px !important;
}
